name: Test

on:
  push:
    branches: [ main ]
    paths:
    - "pyproject.toml"
    - "uv.lock"
    - "setup.py"
    - "setup.cfg"
    - "src/**"
    - "tests/**"
    - ".github/workflows/test.yml"

  pull_request:
    branches: [ main ]
    paths:
    - "pyproject.toml"
    - "uv.lock"
    - "setup.py"
    - "setup.cfg"
    - "src/**"
    - "tests/**"
    - ".github/workflows/test.yml"

  workflow_dispatch:


jobs:
  test_inplace:
    name: Test on ${{ matrix.os }}_${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [blacksmith-4vcpu-ubuntu-2404, macos-latest, blacksmith-4vcpu-windows-2025]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Project
        run: uv sync --frozen --group test
        env:
          CYNDILIB_BUILD_PARALLEL: auto
      - name: Compile tests
        run: uv run python build_tests.py
      - name: Run tests
        run: uv run pytest
